@mixin smartphone {
  @media (max-width: #{$smartphone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$smartphone-width + 1px} ) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin wrapper {
  max-width: $wrap-width;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  margin: 0 auto;
}

/* 
@include desktop {
   font-size: 4.5rem;
} 
*/
