.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-8 {
  margin-top: 8rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-8 {
  margin-left: 8rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-8 {
  margin-right: 8rem;
}
.text-center {
  text-align: center;
}

.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-success {
  background-color: $color-success;
}
.bg-danger {
  background-color: $color-danger;
}
.bg-warning {
  background-color: $color-warning;
}
.bg-info {
  background-color: $color-info;
}
.bg-light {
  background-color: $color-light;
}
.bg-dark {
  background-color: $color-dark;
}
.bg-white {
  background-color: $color-white;
}
